
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    background: rgba(0, 0, 0, 0.8);
  }

  .modal {
    position: fixed;
    padding: 15px;
    top: 450px;
    right: 285px;
    width: 70%;
    z-index: 100;
    overflow: hidden;
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgb(135, 141, 141) 64% );  }
